@model SORT_doc_app.Models.SCVReqs

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SCVReqs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVYesNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVYesNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVIpsCreds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVIpsCreds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVNetwork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVNetwork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVInventory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVInventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVSupport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVSupport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVChangeControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVChangeControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVSecurity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVSecurity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVSPOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVSPOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVForecast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVForecast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVTraining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVTraining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCVComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCVComments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
