@model SORT_doc_app.Models.SMOReqs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SMOReqs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOContracts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOContracts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOTemplates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOTemplates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMODocuments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMODocuments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOBusinessContacts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOBusinessContacts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOChangeManagement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOChangeManagement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOIncidentManagement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOIncidentManagement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOKPIsSLAs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOKPIsSLAs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOSLMReporting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOSLMReporting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOChReports)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOChReports)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOIPMRdefined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOIPMRdefined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOProgManagement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOProgManagement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOChManagementTicketing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOChManagementTicketing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOKPIProbes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOKPIProbes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SMOComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMOComments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
