@model SORT_doc_app.Models.SREReqs

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SREReqs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SREYesNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SREYesNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SREYContacts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SREYContacts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SREDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SREDocument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SREPasswords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SREPasswords)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
