@model IEnumerable<SORT_doc_app.Models.SREReqs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SREYesNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SREYContacts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SREDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SREPasswords)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SREYesNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SREYContacts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SREDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SREPasswords)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
