@model SORT_doc_app.Models.PBX

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PBX</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBXContacts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBXContacts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBXPhysAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBXPhysAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBXTestPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBXTestPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBXShipSend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBXShipSend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBXExtConf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBXExtConf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBX911)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBX911)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBXDisconnect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBXDisconnect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBXAuthorised)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBXAuthorised)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBXCollab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBXCollab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBXDSCIMSA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBXDSCIMSA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PBXComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PBXComments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
